.betslip > header {
  background-color: rgb(66, 64, 64);
  padding: 5px;
  color: white;
}

.confirmation {
  background-color: rgb(66, 64, 64);
  color: white;
  cursor: pointer;
}

.confirmation:hover {
  background-color: seagreen;
}

.return {
    font-size: 12px
}

@media only screen and (min-width: 550px) {

  .betslip_count {
    width: 22px;
    height: 22px;
  }
  
}