.match_view {
  margin: 0 auto;
  width: 100%;
}

.match_header {
  padding: 25px 0 15px 0;
  margin: 0 auto;
}

.desc {
  margin-top: 20px;
  text-align: center;
 }

 .desc, .outcome {
  padding: 2px;
} 

.market {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(66, 64, 64);
  color: white;
}

.outcome {
  width: 50%;
}

.outcomes {
  display: flex;
  flex-direction: row;
}

.odd {
  background-color: rgb(172, 172, 172);
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.odd:hover {
  background-color: rgb(180, 194, 194);
}


@media only screen and (min-width: 550px) {
  
  .desc {
   margin-top: 26px;
  }

}