.match_view {
  padding-top: 25px;
  margin: 0 auto;
}

.desc {
  margin-top: 20px;
 }

 .desc, .outcome {
  padding: 10px;
} 

.market {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.odd {
  background-color: rgb(172, 172, 172);
  width: 50px;
  height: 22px;
  line-height: 25px;
  cursor: pointer;
}

.left_odd {
  float: right;
}

.odd:hover {
  background-color: rgb(180, 194, 194);
}


@media only screen and (min-width: 550px) {
  
  .desc {
   margin-top: 26px;
  }

}