form {
  padding-top: 25px;
  background-color: white;
}

.welcome {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
}
.login_container {
  display: flex;
  justify-content: center;
}

.instructions {
  padding: 2px;
  font-size: 14px;
}

.instructions > p {
  margin: 6px;
  text-align: left;
}

.login_options > .user_login_control {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  margin: 2px;
}


@media only screen and (min-width: 500px) {

  .instructions {
    padding: 10px;
  }

  .instructions > p {
    margin: 12px;
  }

  h1 {
    font-size: 22px;
    }
  
    body {
      font-size: 16px;
      line-height: 1.5;
    }
  
    header {
      padding: 15px 15px;
    }
  
    .user_info {
     margin: auto;
    }
  
  }