.history {
  margin: auto
}

.bet_history {
  width: 100%;
}

.bet_line {
  font-size: 12px;
}

.history > thead {
  font-size: 14px;
  margin: 0 auto
}

@media only screen and (min-width: 850px) {

  .bet_line {
    font-size: 14px;
  }

  .history > thead {
    font-size: 18px;
  }
  
}

