main {
  display:flex;
}

.console {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
}

.logo_box {
  display: flex;
  max-height: 40px;
  color: rgb(35, 111, 161);
  font-weight: bold;
}

.header_letter_box {
  font-size: 30px;
  line-height: normal;
}

.header_word_box {
  font-size: 20px;
  text-transform: uppercase;
  min-height: 40px;
}

.header_word_box.ports {
  line-height: 2;
}

@media only screen and (min-width: 550px) {

  .betslip_count {
    width: 22px;
    height: 22px;
  }

  .console {
    width: 75%;
  }

  .logo_box {
    max-height: 60px;
  }

  .header_letter_box {
    font-size: 50px;
    line-height: normal;
  }

  .header_word_box {
    font-size: 30px;
    min-height: 60px;
  }

  .header_word_box.ports {
    line-height: 2.4;
  }

} 




@media only screen and (min-width: 850px) {

  .console {
    width: 60%;
  }

}
