main {
  display:flex;
}

.console {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 550px) {

  .betslip_count {
    width: 22px;
    height: 22px;
  }

  .console {
    width: 75%;
  }

}

@media only screen and (min-width: 650px) {

  .console {
    width: 50%;
  }

}

@media only screen and (min-width: 850px) {

  h1 {
  font-size: 26px;
  }

  body {
    font-size: 20px;
    line-height: 1.5;
  }

  header {
    padding: 45px 15px;
  }

  .console {
    width: 60%;
  }

}
