.LoginForm {
  padding: 10px;
}

.table_login {
  position: absolute;
}

.LoginForm > .Button {
  float: right
}

.red {
  color: white;
  padding: 0px 5px;
  max-width: 280px;
}

@media only screen and (min-width: 500px) {
  .LoginForm {
    max-width: 400px;
    padding: 25px;
  }

  .table_login {
    margin-left: 10vw;
  }
  
}

@media only screen and (min-width: 1000px) {
  .table_login {
    margin-left: 15vw;
  }
}
