.match_list_sidebar, .betslip{
  display:none;
  background-color: rgb(231, 229, 229);
  max-width: 250px;
  min-width: 190px;
}

.match_list_sidebar {
  text-align: left;
  overflow-x: hidden;
  width: 40%;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
}

.mobile_active {
  position: fixed;
  display: block;
}

.matchlist_burger {
  position: fixed;
  left: 2px;
  top: 65px;
  cursor: pointer;
}

.upcoming_link {
  text-align: center;
  background-color: rgb(66, 64, 64);
  width: 100%;
  padding: 5px;
}

.upcoming_link > a {
  color: white;
  text-transform: uppercase;
}

@media only screen and (min-width: 550px) {

  .matchlist_burger {
    display: none;
  }


  .match_list_sidebar {
    position: static;
    color: darkslategray;
    display: inline-block;
    width: 35%;
    max-width: 300px;
    position: static;
    height: calc(100vh - 130px);
  }

}


@media only screen and (min-width: 850px) {

  .match_list_sidebar {
    width: 30%;
  }

}