.match_list, .betslip{
  display:none;
  background-color: rgb(231, 229, 229);
  overflow-y: auto;
}

.match_list {
  height: 100%;
  text-align: left;
  padding: 5px;
  overflow-x: hidden;
  width: 40%;
}

.mobile_active {
  position: fixed;
  display: block;
}

.matchlist_burger {
  position: fixed;
  left: 12px;
  top: 70px
}



@media only screen and (min-width: 550px) {

  .matchlist_burger {
    display: none;
  }

}

@media only screen and (min-width: 550px) and (max-width: 649px) {

  .match_list {
    position: static;
    color: darkslategray;
    display: inline-block;
    width: 35%;
    max-width: 300px;
    position: static;
  }

}

@media only screen and (min-width: 650px) {

  .match_list {
    color: darkslategray;
    display: inline-block;
    width: 25%;
    max-width: 300px;
    position: static;
  }

}