.login_form {
  padding: 5px;
  position: absolute;
  border-radius: 6px;
  border: 2px grey solid;
}

.login_button {
  float: right
}

.red {
  color: white;
  padding: 0px 5px;
  max-width: 280px;
}

@media only screen and (min-width: 500px) {
  .login_form {
    max-width: 400px;
    padding: 25px;
  }

  .table_login {
    margin-left: 10vw;
  }
  
}

@media only screen and (min-width: 1000px) {
  .table_login {
    margin-left: 15vw;
  }
}
