nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

.user_info {
  color: white;
  margin: auto; 
}

.menu_item {
  padding: 10px;
  display: flex;
}

.menu_hamburger {
  margin-left: 10px;
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}

.betslip_count {
  display: inline-block;
  margin-left: 2px;
  width: 15px;
  height: 15px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

@media only screen and (min-width: 550px) {

  .burger {
    display: none;
  }

  nav {
    justify-content: space-around;
  }

}