nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
}

.user_info {
  color: white;
  margin: auto; 
}

.menu_item {
  padding: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 550px) {

  .burger {
    display: none;
  }

  .betslip_count {
    font-size: 16px;
  }

  .menu_item {
    font-size: 16px;
  }

}

@media only screen and (min-width: 650px) {

  
}