nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
}

.menu_item_user {
  display: flex;
  flex-direction: column;
}

.user_info {
  color: white;
  margin: auto; 
}

.user_info > a {
  color: white;
  font-weight: bold;
}

.menu_item {
  padding-top: 10px;
  cursor: pointer;
}

.menu_item.user_controls {
  display: flex;
  flex-direction: row;
  color: white;
}

.stacked_group {
  margin: 0px 10px;
}

.history_link {
  margin-top: 10px;
  text-decoration: none;
}

.stacked_group > .login_option{
  padding: 0px;
}

@media only screen and (min-width: 550px) {

  .burger {
    display: none;
  }

  .betslip_count {
    font-size: 16px;
  }

  .menu_item {
    font-size: 16px;
  }

}

@media only screen and (min-width: 650px) {

  
}