.league {
  list-style: none;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.league_name {
  text-align: left;
  padding-left: 24px;
  color: white;
  border: 1px rgb(66, 64, 64) solid;
  background-color: rgb(35, 111, 161);
  cursor: pointer;
  width: 100%;
}

