* {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 14px;
  color: #444;
  text-align: center;
  line-height: 1.2;
  max-width: 1500px;
  margin: 0 auto;
}

header {
  background-color: #bbb;
  padding: 6px;
}

@media only screen and (min-width: 550px) {

  h1 {
  font-size: 26px;
  }

  body {
    font-size: 20px;
    line-height: 1.5;
  }

  header {
    display: flex;
    justify-content: space-around;
  }

  p {
  margin: 0 auto;
  }

  p + p {
    margin-top: 15px;
  }

}

.selected {
  color: white; 
}

footer {
  background-color: grey;
}



@media only screen and (min-width: 850px) {

  h1 {
  font-size: 26px;
  }

  body {
    font-size: 20px;
    line-height: 1.5;
  }

}
