.login_button {
  height: 35px;
  font-size: 14px;
  border-radius: 16px;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: right;
  background-color: rgb(66, 64, 64);
}

.login_option {
  height: 35px;
  font-size: 14px;
  padding: 8px 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}

.login_options {
  display: flex;
}

.separator {
  font-size: 20px
}

.login_option:hover {
  color: rgb(184, 178, 178);
}
.required {
  color: #CA1551;
  font-family: Arial;
  font-weight: bold;
}